body {
  background-image: url("../../assets/bg-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.background {
  background: #fff;
  margin: 30px auto;
  padding: 20px 0;
  width: 80%;
  border-radius: 8px;
}
.background .text-signIn {
  font-size: 2em;
  font-weight: 500;
  color: #3d3c3c;
  opacity: 0.9;
  text-align: center;
  margin: 40px 0;
  font-family: Arial, Helvetica, sans-serif;
}
.background .container {
  width: 80%;
  margin: auto;
}
.background .container .btnGrup {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}
.background .container .btnGrup .googleBtn:first-child {
  background: #2e609c;
  color: #fff;
}
.background .container .btnGrup button {
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 0 5px #525151;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  background: #fff;
  font-weight: 500;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.background .container .formGrupLogin {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.background .container .formGrupLogin .username {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.background .container .formGrupLogin .username span {
  color: red;
}
.background .container .formGrupLogin .username label {
  font-size: 1.2em;
  font-weight: 500;
  color: #525151;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.background .container .formGrupLogin .username .formUserLogin {
  padding: 16px 20px;
  background: #F7F7F7;
  border: 2px solid #ebebeb;
  transition: 0.3s all ease;
  border-radius: 5px;
  font-size: 1.3em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.background .container .formGrupLogin .username .formUserLogin:focus {
  outline: none;
  border: 2px solid #c40e8d;
}
.background .container .formGrupLogin .password {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.background .container .formGrupLogin .password span {
  color: red;
}
.background .container .formGrupLogin .password label {
  font-size: 1.2em;
  font-weight: 500;
  color: #525151;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.background .container .formGrupLogin .password .formUserLogin {
  padding: 16px 20px;
  background: #F7F7F7;
  border: 2px solid #ebebeb;
  transition: 0.3s all ease;
  border-radius: 5px;
  font-size: 1.3em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.background .container .formGrupLogin .password .formUserLogin:focus {
  outline: none;
  border: 2px solid #c40e8d;
}
.background .container .formGrupLogin .submitBtn {
  padding: 20px 18px;
  font-size: 1.2em;
  background: #313030;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .text-signIn {
    font-size: 2.8em;
  }
  .background {
    width: 60%;
  }
  .background .container {
    width: 60%;
  }
  .background .container .btnGrup {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 30px;
  }
}
:root {
  --PrimaryColor: hsl(199, 100%, 40%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right,rgb(5, 171, 232),hsl(199, 100%,33%));
  --whiteColor: hsl(0,0%,100%);
  --blackColor:hsl(201,33%,16%);
  --textColor:hsl(240,4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 100%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 240);
  --cardBG: rgb(255, 255, 235);
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 254, 254, 0.9882352941);
  width: 100%;
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.446);
}
.header .account {
  gap: 10px;
}
.header .logo {
  color: var(--blackColor);
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.header .logo .icon {
  font-size: 40px;
  color: var(--PrimaryColor);
  transform: translateY(5px);
}
.header .logo h1 {
  padding-top: 8px;
  padding-left: 10px;
  display: flex;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .header .navBar {
    position: absolute;
    background: var(--whiteColorDeam);
    height: max-content;
    width: 80%;
    top: -500rem;
    left: 10%;
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    transition: 0.5s ease-in-out;
  }
  .header .navBar .navLists {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 0.5rem 0;
  }
  .header .navBar .navLists .navItem {
    padding: 0.5rem 0;
  }
  .header .navBar .navLists .navItem .navLink {
    color: var(--textColor);
    font-size: 0.9rem;
    font-weight: 600;
  }
  .header .navBar .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .header .navBar .navLists .btn {
    margin-top: 1rem;
    padding-right: 30px;
    gap: 10px;
  }
  .header .navBar .navLists .btn a {
    font-weight: 600;
    color: var(--whiteColor);
  }
  .header .navBar .navLists .btn .icon-event {
    font-size: 16px;
    color: var(--whiteColorDeam);
  }
  .header .navBar .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--PrimaryColor);
  }
  .header .navBar .closeNavbar:hover {
    color: var(--SecondaryColor);
  }
  .header .activeNavbar {
    top: 7rem;
  }
}
.header .toggleNavbar .icon {
  font-size: 30px;
  color: var(--blackColor);
}
.header .toggleNavbar:hover.icon {
  color: var(--SecondaryColor);
}

@media screen and (min-width: 769px) {
  .toggleNavbar, .closeNavbar {
    display: none;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  .header .navBar .navLists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .header .navBar .navLists .navItem .navLink {
    color: var(--textColor);
    padding: 0 0.45rem;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .header .navBar .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .header .navBar .navLists .btn {
    margin-left: 1rem;
    gap: 10px;
  }
  .header .navBar .navLists .btn a {
    color: var(--whiteColor);
    font-weight: 500;
  }
  .header .navBar .navLists .btn .icon-event {
    font-size: 16px;
    color: var(--whiteColorDeam);
  }
}
@media screen and (min-width: 960px) {
  .header .navBar .navLists .navItem {
    padding: 0 0.7rem;
  }
}
@media screen and (min-width: 1240px) {
  .header {
    padding: 1rem 8.5rem;
  }
}
:root {
  --PrimaryColor: hsl(199, 100%, 40%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right,rgb(5, 171, 232),hsl(199, 100%,33%));
  --whiteColor: hsl(0,0%,100%);
  --blackColor:hsl(201,33%,16%);
  --textColor:hsl(240,4%, 36%);
  --whiteColorDeam: hsl(0,0%,93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 240);
  --cardBG: rgb(255, 255, 235);
}

.home {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-weight: 400;
}
.home .overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.735);
  top: 0;
  bottom: 0;
  z-index: 1;
  mix-blend-mode: hard-light;
}
.home video {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  object-fit: cover;
}
.home .homeContent {
  width: 100%;
  height: max-content;
  padding: 8rem 1.5rem 3rem;
  display: flex;
  row-gap: 3rem;
  justify-content: center;
  color: var(--whiteColor);
  z-index: 100;
}
.home .homeContent label {
  color: var(--textColor);
}
.home .homeContent .textDiv {
  padding: 2rem 0;
}
.home .homeContent .textDiv .smallText {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.home .homeContent .textDiv .homeTitle {
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
}
.home .homeContent .textDiv p {
  margin-top: 1rem;
}
.home .homeContent .textDiv button {
  margin-top: 1rem;
}
.home .homeContent .textDiv button a {
  color: var(--whiteColor);
}
.home .homeContent .textDiv button:hover {
  background: var(--PrimaryColor);
}
.home .homeContent .cardDiv {
  position: relative;
  padding: 2rem 1rem;
  border-radius: 10px;
  gap: 1rem;
}

@media screen and (min-width: 800px) {
  .textDiv .homeTitle {
    width: 60%;
  }
  .textDiv p {
    width: 60%;
  }
}

/*# sourceMappingURL=main.css.map */
